<%- include('./partials/header'); %>
<div class="main-container">
    <img
    src="/assets/mainback.webp"
    alt="harbour-background"
    class="harbour-background"
    />  <img
    src="/assets/mainback.webp"
    alt="harbour-background"
    class="harbour-background"
    />
    <%- include('./partials/navbar'); %>
    <%- include('./partials/welcome'); %>
    <%- include('./partials/gathering'); %>
</div>
<%- include('./partials/footer'); %>
