<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>
<div class="main-container">
  <img
    src="/assets/us.webp"
    alt="harbour-background"
    class="harbour-background"
  />
  <%- include('./partials/welcome'); %>
</div>
<div class="date-container h-md-25" id="date-section"><%- include('./partials/date'); %></div>
<div class="main-container h-md-100" id="gathering-section"><%- include('./partials/gathering'); %></div>
<div class="main-container h-md-100"  id="location-section"><%- include('./partials/places'); %></div>
<div class="main-container h-md-100"  id="rsvp-section"><%- include('./partials/rsvp'); %></div>
<%- include('./partials/footer'); %>
