<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>
<div class="main-container">
  <img
    src="/assets/mainback.webp"
    alt="harbour-background"
    class="harbour-background"
  />
  <img
    src="/assets/mainback.webp"
    alt="harbour-background"
    class="harbour-background"
  />
  <%- include('./partials/welcome'); %>
</div>
<div class="main-container"><%- include('./partials/gathering'); %></div>
<div class="main-container" style="height: 100% !important;"><%- include('./partials/places'); %></div>
<%- include('./partials/footer'); %>
